body {
    background-color: #BCF8EC ;
    color: #8E9DCC;
}
.header {
    text-align: center;
    color: #D5573B;
}
.navigation {
    text-align: center;
}
.navigation ul li{
    display: inline-block;
    margin: 20px 20px 20px 20px;
    text-align: center;
    color: #8E9DCC;
}

.main-article {
    text-align: center;
    color: #D5573B;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    color: #D5573B;
}

.about {
    border-color: #4B644A;
    border-style: solid;
    
}

.about ul {
    list-style-type: none;
}

.about ul li {
    color: #3E517A;
}

.article {
    color: black;
}

.sup {
    position: relative;
    bottom: 1ex; 
    font-size: 80%;
    /* código retirado do site https://stackoverflow.com/questions/12875645/html-css-layout-number-to-the-power-of-expression-ax */
  }
  
.punch-image {
    display: block;
    margin: auto;
    width: 400px;
}

.super-vision {
    display: block;
    margin: auto;
    width: 400px;
}

.bibliography {
    text-align: left;
}

.bibliography h4{
    text-align: left;
}