/*
 - Faça com que todos os itens de Listas Ordenadas tenham uma cor de fundo amarela. Se a numeração do item for PAR, faça a cor de fonte ser verde. Se o número for considerado primo, utilize a propriedade text-transform para deixar o texto maiúsculo. (Dica: combinar classes pode ser útil aqui).
 - Faça todas as tags Header (h1, h2...) possuírem cor de fonte vermelha e, se alguma delas estiver em itálico, aumente seu tamanho para 40px e acrescente uma borda de 1px preta e sólida.
 - Faça todas as li's terem 20px de tamanho de fonte e, para todo texto em itálico dentro de alguma li, utilize a propriedade font-weight para deixá-lo negrito.
 - Na listagem de linguagens de programação, faça com que as 3 primeiras da lista possuam cor de fonte azul e, se alguma possuir "java*" no texto, utilize uma cor de fundo rosa.
 - (Bônus) Para cada link na lista de aliados da pessoa desenvolvedora, faça com que ao passar o mouse sobre cada um, o texto fique em negrito e assuma a cor de fonte "temática do site"
  Dica 1: Utilize o seletor :hover para controlar o passar do mouse.
  Dica 2: Sugestão de cores padrão. StackOverflow (laranja), W3Schools (verde), MDN (preta), DevDocs (amarela), Trybe (verde).

*/

ol {

    background-color: yellow;
}

ol li:nth-child(even) {
    background-color: green;
}
ol li:not(:first-child):not(:nth-child(2n+4)):not(:nth-child(3n+9)):not(:nth-child(5n+25)):not(:nth-child(7n+49)):not(:nth-child(11n+121)):not(:nth-child(13n+169)):not(:nth-child(17n+289)):not(:nth-child(19n+361)):not(:nth-child(23n+529)):not(:nth-child(29n+841)):not(:nth-child(31n+961)):not(:nth-child(37n+1369)):not(:nth-child(41n+1681)):not(:nth-child(43n+1849)):not(:nth-child(47n+2209)):not(:nth-child(53n+2809)):not(:nth-child(59n+3481)):not(:nth-child(61n+3721)):not(:nth-child(67n+4489)):not(:nth-child(71n+5041)):not(:nth-child(73n+5329)):not(:nth-child(79n+6241)):not(:nth-child(83n+6889)):not(:nth-child(89n+7921)):not(:nth-child(97n+9409)):not(:nth-child(101n+10201)):not(:nth-child(103n+10609)):not(:nth-child(107n+11449)):not(:nth-child(109n+11881)):not(:nth-child(113n+12769)):not(:nth-child(127n+16129)):not(:nth-child(131n+17161)):not(:nth-child(137n+18769)):not(:nth-child(139n+19321)):not(:nth-child(149n+22201)):not(:nth-child(151n+22801)):not(:nth-child(157n+24649)):not(:nth-child(163n+26569)):not(:nth-child(167n+27889)):not(:nth-child(173n+29929)):not(:nth-child(179n+32041)):not(:nth-child(181n+32761)):not(:nth-child(191n+36481)):not(:nth-child(193n+37249)):not(:nth-child(197n+38809)):not(:nth-child(199n+39601)):not(:nth-child(211n+44521)):not(:nth-child(223n+49729)):not(:nth-child(227n+51529)):not(:nth-child(229n+52441)):not(:nth-child(233n+54289)):not(:nth-child(239n+57121)):not(:nth-child(241n+58081)):not(:nth-child(251n+63001)) {
    text-transform: uppercase;
}
/* o código acima que encontra os números primos foi retirado do site: https://www.brunildo.org/test/nth-child-prime.php?n=256 */ 

h1, h2, h3, h4, h5 {
    color: red;
    
}

h1 em, h2 em, h3 em, h4 em, h5 em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

.languages li:nth-child(1) , li:nth-child(2) , li:nth-child(3){
    color: blue;
}

.languages li [data] {
    background-color:pink;
}

ul li:nth-child(1):hover a{
    color: orange;
    font-weight: bold;
    
} 

ul li:nth-child(2):hover a{
    color: green;
    font-weight: bold;
    
} 

ul li:nth-child(3):hover a{
    color: black;
    font-weight: bold;
    
} 

ul li:nth-child(4):hover a{
    color: yellow;
    font-weight: bold;
    
} 

ul li:nth-child(5):hover a{
    color: green;
    font-weight: bold;
    
} 
