h1 
{ 
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-decoration: underline;
}
ul 
{
    background-color: darkcyan;
}
.classe1 
{
    background-color: darkgreen;
}



p 
    {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;}

body
    {
        font-size: 16px;
    }

#lista {text-align: center;}
#Amarelo { background-color: yellow;}
#Vermelho {background-color: red;}
#Marrom {background-color: brown;}

